@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --removed-body-scroll-bar-size: 16px;
  }

  html {
    overflow-y: scroll;
    scrollbar-gutter: stable;
  }

  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}