@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
    overflow-y: scroll;
    -ms-overflow-style: scrollbar;
    -webkit-scrollbar-gutter: stable;
    scrollbar-gutter: stable;
  }

  body {
    @apply font-sans antialiased bg-gradient-to-b from-background/50 to-background text-foreground min-h-screen;
    background-image: radial-gradient(
      circle at center,
      hsl(var(--background)) 0%,
      hsl(var(--muted)) 100%
    );
  }
}